* {
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 15% 0 15%;
}

#selecter div {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 55px;
  width: 140px;
  margin: 5px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 20px;
  color: white;
  border: 3px solid black;
  transition: background-color 0.3s, color 0.3s;
}
#selecter div:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

#selecter {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#time {
  text-align: center;
}

#content,
#lower {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 10px;
  margin-top: 20px;
}

#content div,
#lower div {
  display: block;
  width: 250px;
  height: 100px;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  border: 1.5px solid black;
}
